.nameEnter {
    width: 20%;
    min-width: 150px;
}

.buttonGroups{
    margin-top: 10%;
}

.eachButton{
    outline: none;                     
    height: 100px;
    width: 100px;
    margin-left: 10%;
    border-radius: 100%;
    font-size: 30px;
    background: black;
    color: white;
}

p {
    margin-top: 5%;
    font-size: 30px;
}