@import '~antd/dist/antd.css';

#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .title {
    height: 50px;
    width: 500px;
    min-width: 200px;
    margin: 15px 15px 15px 15px;
}
.title {
    margin: auto;
    font-size: 35px;
}